.taskContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 736px;
  height: 72px;
  padding: 1rem;
  border-radius: 8px;
  background: var(--gray-400);
}

.taskComponents {
  display: flex;
}

.customRadio {
  width: 668px;
}

.customRadio input {
  display: none;
  color: var(--white);
}

.customRadio input + label:before {
  content: '';
  width: 17.4px;
  height: 17.4px;
  border-radius: 50%;

  border: 2px solid var(--blue);
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
  margin-bottom: 3px;
}

.customRadio input:checked + label:before {
  background-color: var(--blue);
}
