:root {
  --white: #fff;
  --gray-100: #e1e1e6;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #323238;
  --gray-700: #0d0d0d;

  --purple: #8284fa;
  --purble-dark: #5e50ce;
  --blue: #4ea8de;
  --blue-dark: #1e6f9f;
  --danger: #e25858;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-500);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
}

body,
input,
span,
textarea,
button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
